/ {
    bao-ipc@8A000000 {
        compatible = "bao,ipcshmem";
        reg = <0x8A000000 0x4000>;
        read-channel = <0x0 0x2000>;
        write-channel = <0x2000 0x2000>;
        interrupts = <3 1 1>;
        interrupt-parent = <&aplic>;
        id = <0>;
        status = "okay";
    };
};
